{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    "AzureWebJobsStorage": "",
    "ClientID": "",
    "ClientSecret": "",
    "TenantID": "",
    "CertificateThumbprint": "",
    "ServiceAccountUsername": "",
    "ServiceAccountPassword": "",
    "AzureWebJobs.NewTeam.Disabled": "false",
    "AzureWebJobs.TimedGalChanges.Disabled": "false",
  },
  "ConnectionStrings": {}
}
